body{
    background-color:
    #b8860b
}
h1{
    color: crimson;
    text-align: center;

}
nav{
height: 6000px;
width: 200px;
float: left;
padding: 5px;
line-height: 30px;
}
h2{
    color: crimson;
    text-align:left;
    margin-right: 200px;
}
footer{
    text-align: center;
    margin-right: 200px;
}
#memeimage{
margin-right: 200px;
}
{
    text-align: center;
}
